@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Dosis");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
.blog-previews h3 {
  font-family: "Playfair Display", serif;
  color: #EFE3F2; }

.blog-previews p {
  font-family: 'Dosis', sans-serif;
  text-decoration: none;
  color: #0F0137;
  font-size: 20px; }
