@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Dosis");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
.entry-button {
  background-color: rgba(0, 255, 195, 0.83);
  border-color: #9000B6;
  border-radius: 7px;
  height: 30px;
  width: 150px;
  font-size: 20px;
  color: #240087;
  border-width: 3px; }

.home-Div .home-title {
  color: rgba(246, 70, 174, 0.82); }

.home-Div p {
  font-family: "Playfair Display", serif; }

.Home-intro {
  color: #9342F3; }
