.about-page{
    width: 100%;
    margin: 25px;
    .about-Text{
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-bottom: 10px;
        line-height: 20px;
    }
    h1{
        font-size: 30px;
    }
    h4{
        font-size: 24px;
    }
    .disclaimer{
        color: $aboutDisclaimerColor;
    }
    .freepik-link {
        text-decoration: none;
    }
    .flaticon-link {
        text-decoration: none;
    }
}