.blog-previews{
    height: 45vh;
    margin-top: 8%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 90px;
    padding-bottom: 20px;
    box-sizing: border-box;
    text-align: center;
    background-color: $aboutBackground;
    h3{
        font-size: 30px;
        padding-bottom: 20px;
        font-family: $blogTitles; 
        color: $blogPreviewTitleColor;
        
    }
    .links{
        width: 100px;
    }
    h4{
        width: 25%;
        position: relative;
        left: 37.75%;
        color: $blogTitleColor;
        font-size: 24px;
        padding-bottom: 5px;
    }
    p{
        padding-bottom: 7px;
        font-family: 'Dosis', sans-serif;
        text-decoration: none;
        color: $aboutTextColor;
        font-size: 18px;
    }

}