.blog3{
    position: relative;
    left: 20px;
    text-align: left;
    width: 95%;
    font-family: $blogText;
    color: $darkColor;
    .winter-formal{
        position: relative;
        left: 30px;
        width: 200px;
        height: 300px;
        border-radius: 7px;
    }
        .blog3-intro {
        padding: 7px;
        padding-top: 20px;
        h2{
            font-family: $blogTitles;
            font-size: $blogTitleSize;
        }
        .cupcake-title{
            height: $blogTitleImageHeight;
            width: $blogTitleImageWidth;
            padding-left: 10px;
            border-radius: 7px;
        }
    }


    
    .blog3-body{
        position: relative;
        left: 0px;
        font-size: 22px;
        p{
            font-family: $blogText;
        }
    }
    button{
        position: relative;
        left: 44%;
        height: $buttonHeight;
        width: $buttonWidth;
        background-color: $buttonBackground;
        border: $buttonBorder;
        font-size: 15px;
        color: white;
        font-family: $blogText;
    }
}