.blog-previews{
    height: $pageHeight;
    h3{
        font-family: $blogTitles; 
        color: $headerTextColor;
    }
    p{
        font-family: 'Dosis', sans-serif;
        text-decoration: none;
        color: #0F0137;
        font-size: 20px;
    }

}