.home-Div {
    height: 65vh;
    padding: 5px;
    .home-title {
        padding: 3px;
        font-size: 40px;
        color: rgba(246, 70, 174, 0.82);
    }

    .Home-intro {
        padding: 3px;
        font-family: $blogTitles; 
        font-size: 30px;
        color: #9342F3;
    }
    .entry-button {
        background-color: rgba(0, 255, 195, 0.83);
        border-color: #9000B6;
        border-radius: 7px;
        height: 30px;
        width: 150px;
        font-size: 20px;
        color: #240087;
        border-width: 3px;
    }   
}