.nav-header {
    background-color: $headerColor;
    height: 25%;
    .wix {
        text-decoration: none;
        color: #B68CB8;
        margin-top: 8px;
    }
    .app-name{
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        width: 500px;
        .App-logo {
            width: 200px;
            height: 200px;
        }
        .App-title {
            font-family: $headerFont;
            padding-bottom: 10px;
            color: $headerTextColor;
            font-size: 50px;
        }
    }
    .Links {
        color: $linkTextColor;
        text-decoration: none;
        background-color: $linkBackgroundColor;
        height: 25px;
        width: 70px;
        border: $linkBorder;
        border-radius: 10px;
        p{
            padding-top: 4px;
        }
    }
    .App-header {
        background-color: $headerColor;
        height: 200px;
        padding: 20px;
        color: $linkTextColor;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
    .Nav-Bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    // border: $navBorder;
    border-radius: 12px;
    margin: 3px;
    }                                                                
    
    
    
    .login{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        .login-content {
            text-decoration: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 60px;
        }
        .Login-button {
            background-color: $loginButtonBackground;
            text-decoration: none;
            color: $loginButtonTextColor;
            height: 30px;
            width: 50px;
            border: $loginButtonBorder;
            border-radius: 7px;
        }
    }
}
