.shop-titles{
    padding: 20px;
    height: 90vh;
    box-sizing: border-box;
    .shop-intro{
    color: $shopTextColor;
    font-family: $shopTitles;
    font-size: 30px;
    }
    .premade-title{
        font-size: 20px;
        color: $darkColor;
    }
    .custom-title{
        padding-top: 10px;
        font-size: 20px;
        color: $darkColor;
    }
}
.spec-cupcakes {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    list{
        line-height: 20px;
        img{
            height: 150px;
            width: 100px;
            border-radius: 30px;
        }
        .deathly-hallows{
            height: 150px;
            width: 125px;
        }
        .cake-title{
            font-size: $shopCakeFontSize;
            color: $accentColor;
        }
        .cake-descript{
            font-size: $shopPremadeFontSize;
            color: $darkColor;
        }

    }
}
.custom-cakes{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    line-height: 20px;
    margin-bottom: 20px;
    div > h4{
        font-size: $shopCakeFontSize;
        color: $accentColor;
        margin-bottom: -5px;
    }
    .cakes{
        display: flex;
        flex-flow: column;
        
    }
    .fillings{
        display: flex;
        flex-flow: column;
        .liquid{
            font-size: $shopCustomFontSize;
            color: grey;
        }
        .solid{
            font-size: $shopCustomFontSize;
            color: grey;
        }
    }
    .frostings {
        display: flex;
        flex-flow: column;
    }
    .toppings{
        display: flex;
        flex-flow: column;
    }
    ol > li{
        color: $darkColor;
    }
}
.order-button{
    background-color: $buttonBackground;
    border: $buttonBorder;
    border-radius: 7px;
    color: $buttonTextColor;
    width: 250px;
    font-size: 20px;   
    margin-top: 10px;
    right: 43%;

}