.shop-titles{
    padding: 10px;
    h1{
    color: $shopTextColor;
    font-family: $shopTitles;
    font-size: 30px;
    }
    .premade-title{
        font-size: 20px;
        color: $accentColor;
    }
    .custom-title{
        font-size: 20px;
        color: $accentColor;
    }
}
.spec-cupcakes {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    list{
        img{
            height: 150px;
            width: 100px;
            border-radius: 30px;
        }
        .deathly-hallows{
            height: 150px;
            width: 125px;
        }
        .cake-title{
            font-size: $shopCakeFontSize;
            color: $shopCakeColor;
        }
        .cake-descript{
            font-size: $shopCustomFontSize;
        }

    }
}
.custom-cakes{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    .cakes{
        display: flex;
        flex-flow: column;
        h4{
            font-size: $shopCakeFontSize;
            color: $shopCakeColor;
        }
    }
    .fillings{
        display: flex;
        flex-flow: column;
        h4{
            font-size: $shopCakeFontSize;
            color: $shopCakeColor;
        }
    }
    .frostings {
        display: flex;
        flex-flow: column;
        h4{
            font-size: $shopCakeFontSize;
            color: $shopCakeColor;
        }
    }
    .toppings{
        display: flex;
        flex-flow: column;
        h4{
            font-size: $shopCakeFontSize;
            color: $shopCakeColor;
        }
    }
}
.order-button{
    background-color: $buttonBackground;
    border: $buttonBorder;
    border-radius: 7px;
    color: $buttonTextColor;
    width: 250px;
    font-size: 20px;   
    position: fixed;
    bottom: 0px;
    right: 40%;
    // align-self: center;
}