@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Dosis");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
.nav-header .wix {
  text-decoration: none;
  color: #f4f4f4; }

.nav-header .app-name {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  .nav-header .app-name .App-logo {
    width: 120px;
    height: 150px; }
  .nav-header .app-name .App-title {
    color: #EFE3F2; }

.nav-header .Links {
  color: #253D5B;
  text-decoration: none;
  background-color: #4CE0B3;
  width: 70px;
  border: solid 5px #f4f4f4;
  border-radius: 10px; }

.nav-header .App-header {
  background-color: #F7A9A8;
  height: 200px;
  padding: 20px;
  color: #F9A78E;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end; }

.nav-header .Nav-Bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #377771;
  border: solid 8px #ED6A5E;
  border-radius: 12px; }

.nav-header .Login-button {
  background-color: #E5C3D1;
  text-decoration: none;
  color: #7048b6;
  height: 30px;
  width: 50px;
  border: solid black;
  border-radius: 7px; }

.nav-header .login {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }
  .nav-header .login .login-content {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60px; }
