.Nav-Bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(251, 219, 159, 0.50);
}

.wix {
    text-decoration: none;
    color: rgba(205, 69, 251, 0.83);
}

.Links {
    color: rgba(205, 69, 251, 0.83);
    text-decoration: none;
}

.App-logo {
    width: 150px;
    height: 210px;
}

.App-header {
    background-color: #294B5E;
    height: 300px;
    padding: 20px;
    color: #F9A78E;
    display: flex;
    flex-direction: column;
}

.App-title {
    display: flex;
    flex-direction: row;
}

.Login-button {
    background-color: #45BC96;
    text-decoration: none;
    color: white;
    height: 30px;
    width: 50px;
    border: solid;
    border-color: chartreuse;
    border-radius: 7px;
}
.login {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 60px;
}