@import './../../_variables.scss';

.nav-header {
    .wix {
        text-decoration: none;
        color: #f4f4f4;
    }
    .app-name{
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .App-logo {
            width: 120px;
            height: 150px;
        }
        .App-title {
        color: $headerTextColor;
        }
    }
    .Links {
        color: $linkTextColor;
        text-decoration: none;
        background-color: $linkBackgroundColor;
        width: 70px;
        border: $linkBorder;
        border-radius: 10px;
    }
    .App-header {
        background-color: $headerColor;
        height: 200px;
        padding: 20px;
        color: #F9A78E;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }
    .Nav-Bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: $navBackground;
    border: $navBorder;
    border-radius: 12px;
    }                                                                
    
    
    
    .Login-button {
        background-color: $loginButtonBackground;
        text-decoration: none;
        color: $loginButtonTextColor;
        height: 30px;
        width: 50px;
        border: $loginButtonBorder;
        border-radius: 7px;
    }
    .login{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        .login-content {
            text-decoration: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 60px;
        }
    }
}
    