@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

//page Variables
$pageHeight: 65vh;
$accentColor: #AA4465;

//home Variables
$entryButtonBackground: #F6EFEE;
$entryButtonTextColor: #B68CB8;
$homeTitleColor: #fdd9d2;
$homeIntroColor: #AA4465;

//header variables
$headerColor: #fdcec5;
$headerTextColor: white;
$headerFont: 'Josefin Sans', sans-serif;
$linkTextColor: white;
$loginButtonBackground: #f6efee;
$linkBorder: solid 3px #AA4465;
$navBorder: solid 8px #f6efee;
$navBackground: #BCD4DE;
$linkBackgroundColor: #0A014F;
$loginButtonTextColor: #AA4465;
$loginButtonBorder: solid 2px #0A014F;

//footer variables
$footerBackgroundColor: #4F2540;
$footerTextColor: #EFE3F2;
//about variables
$aboutDisclaimerColor: #4F2540;
$aboutTextColor: #0A014F;
$aboutBackground: #B68CB8;

//blog variables
$blogText: 'Open Sans', sans-serif;
$blogTitles: 'Playfair Display', serif;
$blogImageHeight: 150px; 
$blogImageWidth: 100px;
$blogTitleImageHeight: 200px;
$blogTitleImageWidth: 300px;
$buttonHeight: 30px;
$buttonWidth: 125px;
$blogPreviewTitleColor: #fdcec5;
$blogTitleColor: #320f92;

//shop variables
$shopDetails: 'Dosis', sans-serif;
$shopTitles: 'Josefin Sans', sans-serif;
$shopTextColor: #B68CB8;
$buttonBackground: #f7bcb7;
$buttonTextColor: #f6efee;
$buttonBorder: solid 5px #93b7be;
$shopCustomFontSize: 18px;
$shopCakeFontSize: 24px;
$shopPremadeFontSize: 15px;
$shopCakeColor: #0A014F;