@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

$headerColor: rgba(2, 189, 189, 0.82);
$headerTextColor: rgba(246, 70, 174, 0.82);
$blogText: 'Open Sans', sans-serif;
$blogTitles: 'Playfair Display', serif;
$shopDetails: 'Dosis', sans-serif;
$shopTitles: 'Josefin Sans', sans-serif;
$blogImageHeight: 150px; 
$blogImageWidth: 100px;
$blogTitleImageHeight: 200px;
$blogTitleImageWidth: 300px;
$buttonHeight: 30px;
$buttonWidth: 125px;