@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

//landing page Variables
$landingBackgroundImage: url('./images/landing-background.jpg') no-repeat center center fixed;  
$landingBackgroundImageHeight: 100vh;
$landingBackgroundImageWidth: 100%; 

//page Variables
$pageHeight: 100vh;
$accentColor: #AA4465;

//home Variables
$entryButtonBackground: #F6EFEE;
$entryButtonTextColor: #B68CB8;
$homeTitleColor: #fdd9d2;
$homeIntroColor: #AA4465;

// profile Variables
$tabsBackgroundColor: #B68CB8;
$authBorder: solid 5px #0A014F;
$authNameColor: #0A014F;
$profileTitleFont: 'Playfair Display', serif;
$orderInfoFont: 'Josefin Sans', sans-serif;

//header variables
$headerColor: #fdcec5;
$headerTextColor: white;
$headerFont: 'Josefin Sans', sans-serif;
$linkTextColor: white;
$loginButtonBackground: white;
$linkBorder: solid 3px #AA4465;
$navBorder: solid 8px #f6efee;
$navBackground: #BCD4DE;
$linkBackgroundColor: #0A014F;
$loginButtonTextColor:  #0A014F;
$loginButtonBorder: solid 2px #AA4465;

//footer variables
$footerBackgroundColor: #4F2540;
$footerTextColor: #EFE3F2;

//about variables
$aboutDisclaimerColor: #4F2540;
$aboutTextColor: #0A014F;
$aboutBackground: #B68CB8;

//blog variables
$blogText: 'Open Sans', sans-serif;
$blogTitles: 'Playfair Display', serif;
$blogImageHeight: 150px; 
$blogImageWidth: 100px;
$blogTitleImageHeight: 300px;
$blogTitleImageWidth: 400px;
$buttonHeight: 50px;
$buttonWidth: 150px;
$blogPreviewTitleColor: #fdcec5;
$blogTitleColor: #320f92;
$blogTitleSize: 30px;

//shop variables
$shopDetails: 'Dosis', sans-serif;
$shopTitles: 'Josefin Sans', sans-serif;
$shopTextColor: #B68CB8;
$buttonBackground: #f7bcb7;
$buttonTextColor: #f6efee;
$buttonBorder: solid 5px #0A014F;
$shopCustomFontSize: 18px;
$shopCakeFontSize: 24px;
$shopPremadeFontSize: 18px;
$shopCakeColor: #0A014F;