@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Dosis");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:link {
  color: black;
  text-decoration: none; }

a:visited {
  color: #320f92;
  text-decoration: none; }

.App {
  text-align: center;
  height: 100%; }

.home-Div {
  height: 65vh;
  padding-top: 50px; }
  .home-Div .home-title {
    margin: 7px;
    font-size: 40px;
    color: #fdd9d2; }
  .home-Div .Home-intro {
    margin: 7px;
    font-family: "Playfair Display", serif;
    font-size: 30px;
    color: #AA4465; }
  .home-Div .entry-button {
    background-color: #F6EFEE;
    border-color: #AA4465;
    border-radius: 7px;
    height: 30px;
    width: 150px;
    font-size: 20px;
    color: #B68CB8;
    border-width: 3px;
    margin: 10px; }

.hello-blog {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  .hello-blog h2 {
    font-family: "Playfair Display", serif; }
  .hello-blog p {
    font-family: "Open Sans", sans-serif; }
  .hello-blog button {
    height: 30px;
    font-size: 12px; }

.blog3-intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding: 7px;
  padding-top: 10px; }
  .blog3-intro h2 {
    font-family: "Playfair Display", serif; }

.blog3 {
  display: flex;
  flex-direction: column; }
  .blog3 button {
    height: 30px;
    width: 125px;
    background-color: rgba(230, 53, 247, 0.83);
    font-size: 12px;
    color: white; }

.blog3-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .blog3-body p {
    font-family: "Open Sans", sans-serif;
    display: flex; }
  .blog3-body .silver-cupcake {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px; }

.blog-previews {
  height: 65vh;
  padding-top: 10px; }
  .blog-previews h3 {
    font-size: 30px;
    padding-bottom: 5px;
    font-family: "Playfair Display", serif;
    color: #fdcec5; }
  .blog-previews h4 {
    color: #320f92;
    font-size: 24px; }
  .blog-previews p {
    padding-bottom: 7px;
    font-family: 'Dosis', sans-serif;
    text-decoration: none;
    color: #0F0137;
    font-size: 18px; }

.foo-bar {
  position: absolute;
  width: 100%;
  bottom: 0px;
  background-color: #4F2540;
  color: #EFE3F2;
  height: 45px; }
  .foo-bar .foo-title {
    text-align: center; }

.nav-header {
  background-color: #fdcec5;
  height: 25%; }
  .nav-header .wix {
    text-decoration: none;
    color: #B68CB8;
    margin-top: 8px; }
  .nav-header .app-name {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 500px; }
    .nav-header .app-name .App-logo {
      width: 200px;
      height: 200px; }
    .nav-header .app-name .App-title {
      font-family: "Josefin Sans", sans-serif;
      padding-bottom: 10px;
      color: white;
      font-size: 50px; }
  .nav-header .Links {
    color: white;
    text-decoration: none;
    background-color: #0A014F;
    height: 25px;
    width: 70px;
    border: solid 3px #AA4465;
    border-radius: 10px; }
    .nav-header .Links p {
      padding-top: 4px; }
  .nav-header .App-header {
    background-color: #fdcec5;
    height: 200px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end; }
  .nav-header .Nav-Bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 12px;
    margin: 5px; }
  .nav-header .login {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
    .nav-header .login .login-content {
      text-decoration: none;
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 60px; }
    .nav-header .login .Login-button {
      background-color: #BCD4DE;
      text-decoration: none;
      color: #AA4465;
      height: 30px;
      width: 50px;
      border: solid 3px #0A014F;
      border-radius: 7px; }

.custom-cakes {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around; }

.cakes {
  display: flex;
  flex-flow: column; }

.fillings {
  display: flex;
  flex-flow: column; }

.frostings {
  display: flex;
  flex-flow: column; }

.toppings {
  display: flex;
  flex-flow: column; }

.profile {
  height: 65vh; }
  .profile .auth-info {
    width: 90%;
    padding: 7px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    border-bottom: solid 5px #4f2540; }
    .profile .auth-info .first-name {
      font-size: 21px;
      color: #2f3f47; }
    .profile .auth-info .last-name {
      font-size: 21px;
      color: #2f3f47; }
    .profile .auth-info .email {
      font-size: 18px;
      color: #2f3f47; }
  .profile .Order-info {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 300px; }
    .profile .Order-info .columns {
      width: 12%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start; }
    .profile .Order-info .tabs {
      height: 23px;
      background-color: #7347df;
      color: white;
      border-top: solid;
      border-width: 100%;
      border-bottom: none;
      border-color: #1A0F4F;
      border-radius: 7px; }

.shop-titles {
  padding: 10px; }
  .shop-titles h1 {
    color: #B68CB8;
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px; }
  .shop-titles .premade-title {
    font-size: 20px;
    color: #AA4465; }
  .shop-titles .custom-title {
    font-size: 20px;
    color: #AA4465; }

.spec-cupcakes {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px; }
  .spec-cupcakes list img {
    height: 150px;
    width: 100px;
    border-radius: 30px; }
  .spec-cupcakes list .deathly-hallows {
    height: 150px;
    width: 125px; }
  .spec-cupcakes list .cake-title {
    font-size: 18px;
    color: #0A014F; }
  .spec-cupcakes list .cake-descript {
    font-size: 15px; }

.custom-cakes {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around; }
  .custom-cakes .cakes {
    display: flex;
    flex-flow: column; }
    .custom-cakes .cakes h4 {
      font-size: 18px;
      color: #0A014F; }
  .custom-cakes .fillings {
    display: flex;
    flex-flow: column; }
    .custom-cakes .fillings h4 {
      font-size: 18px;
      color: #0A014F; }
  .custom-cakes .frostings {
    display: flex;
    flex-flow: column; }
    .custom-cakes .frostings h4 {
      font-size: 18px;
      color: #0A014F; }
  .custom-cakes .toppings {
    display: flex;
    flex-flow: column; }
    .custom-cakes .toppings h4 {
      font-size: 18px;
      color: #0A014F; }

.order-button {
  background-color: #f7bcb7;
  border: solid 5px #93b7be;
  border-radius: 7px;
  color: #f6efee;
  width: 250px;
  font-size: 20px;
  position: fixed;
  bottom: 0px;
  right: 40%; }

.about-page {
  width: 100%;
  margin: 25px; }
  .about-page .about-Text {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 10px;
    line-height: 20px; }
  .about-page h1 {
    font-size: 30px; }
  .about-page h4 {
    font-size: 24px; }
  .about-page .disclaimer {
    color: #4F2540;
    text-indent: 25px; }
  .about-page .freepik-link {
    text-decoration: none; }
  .about-page .flaticon-link {
    text-decoration: none; }
