@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Dosis");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a:link {
  color: black;
  text-decoration: none; }

a:visited {
  color: #320f92;
  text-decoration: none; }

.App {
  text-align: center;
  height: 100%;
  background-color: #f4f4f4; }

.home-Div {
  height: 100vh;
  padding-top: 20%;
  background: url("./images/landing-background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%; }
  .home-Div .home-content {
    position: absolute;
    right: 7%;
    height: 500px; }
    .home-Div .home-content .home-title {
      margin: 7px;
      font-size: 40px;
      color: #fdd9d2; }
    .home-Div .home-content .Home-intro {
      margin: 7px;
      font-family: "Playfair Display", serif;
      font-size: 30px;
      color: #AA4465; }
      .home-Div .home-content .Home-intro span {
        font-size: 24px; }
    .home-Div .home-content .entry-button {
      background-color: #F6EFEE;
      border-color: #AA4465;
      border-radius: 7px;
      height: 30px;
      width: 150px;
      font-size: 20px;
      color: #B68CB8;
      border-width: 3px;
      margin: 10px; }

.hello-blog {
  position: relative;
  left: 5%;
  padding-top: 20px;
  width: 90%;
  height: 78vh; }
  .hello-blog h2 {
    font-family: "Playfair Display", serif;
    font-size: 25px;
    padding-bottom: 15px; }
  .hello-blog .blog1-body {
    text-align: left;
    font-family: "Open Sans", sans-serif;
    padding-bottom: 5px; }
  .hello-blog .blog1-sig {
    text-align: left;
    font-family: "Open Sans", sans-serif;
    padding-top: 5px;
    padding-bottom: 20px; }
  .hello-blog a {
    width: 150px;
    position: relative; }
    .hello-blog a button {
      height: 50px;
      font-size: 15px;
      background-color: #f7bcb7;
      border: solid 5px #0A014F;
      color: white; }

.blog3 {
  position: relative;
  left: 20px;
  text-align: left;
  width: 95%;
  font-family: "Open Sans", sans-serif;
  color: #0A014F; }
  .blog3 .winter-formal {
    position: relative;
    left: 30px;
    width: 200px;
    height: 300px;
    border-radius: 7px; }
  .blog3 .blog3-intro {
    padding: 7px;
    padding-top: 20px; }
    .blog3 .blog3-intro h2 {
      font-family: "Playfair Display", serif;
      font-size: 30px; }
    .blog3 .blog3-intro .cupcake-title {
      height: 300px;
      width: 400px;
      padding-left: 10px;
      border-radius: 7px; }
  .blog3 .blog3-body {
    position: relative;
    left: 0px;
    font-size: 22px; }
    .blog3 .blog3-body p {
      font-family: "Open Sans", sans-serif; }
  .blog3 button {
    position: relative;
    left: 44%;
    height: 50px;
    width: 150px;
    background-color: #f7bcb7;
    border: solid 5px #0A014F;
    font-size: 15px;
    color: white;
    font-family: "Open Sans", sans-serif; }

.blog-previews {
  height: 45vh;
  margin-top: 8%;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 90px;
  padding-bottom: 20px;
  box-sizing: border-box;
  text-align: center;
  background-color: #B68CB8; }
  .blog-previews h3 {
    font-size: 30px;
    padding-bottom: 20px;
    font-family: "Playfair Display", serif;
    color: #fdcec5; }
  .blog-previews .links {
    width: 100px; }
  .blog-previews h4 {
    width: 25%;
    position: relative;
    left: 37.75%;
    color: #320f92;
    font-size: 24px;
    padding-bottom: 5px; }
  .blog-previews p {
    padding-bottom: 7px;
    font-family: 'Dosis', sans-serif;
    text-decoration: none;
    color: #f6efee;
    font-size: 18px; }

.foo-bar {
  position: absolute;
  width: 100%;
  bottom: 0px;
  background-color: #4F2540;
  color: #EFE3F2;
  height: 45px; }
  .foo-bar .foo-title {
    text-align: center; }

.nav-header {
  background-color: #fdcec5;
  height: 25%; }
  .nav-header .wix {
    text-decoration: none;
    color: #B68CB8;
    margin-top: 8px; }
  .nav-header .app-name {
    padding-top: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 500px; }
    .nav-header .app-name .App-logo {
      width: 150px;
      height: 150px; }
    .nav-header .app-name .App-title {
      font-family: "Josefin Sans", sans-serif;
      padding-bottom: 10px;
      color: white;
      font-size: 40px; }
  .nav-header .Links {
    color: white;
    text-decoration: none;
    background-color: #0A014F;
    height: 25px;
    width: 70px;
    border: solid 3px #AA4465;
    border-radius: 10px; }
    .nav-header .Links p {
      padding-top: 4px; }
  .nav-header .App-header {
    background-color: #fdcec5;
    height: 150px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end; }
  .nav-header .Nav-Bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 12px;
    margin: 5px; }
  .nav-header .login {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 25px; }
    .nav-header .login .login-button {
      text-decoration: none;
      width: 60px;
      height: 60px; }
    .nav-header .login .Login-content {
      text-align: center;
      background-color: #0A014F;
      text-decoration: none;
      color: white;
      height: 30px;
      width: 60px;
      border: solid 3px #AA4465;
      font-size: 15px;
      border-radius: 7px; }

#order-form {
  padding-top: 50px;
  height: 100vh; }
  #order-form .form-title {
    font-size: 30px;
    padding-bottom: 10px;
    font-family: "Josefin Sans", sans-serif;
    color: #B68CB8; }
  #order-form .select-title {
    font-size: 24px;
    padding-bottom: 5px;
    color: #AA4465; }
  #order-form .reminder {
    padding-top: 5px;
    padding-bottom: 3px; }
  #order-form .shop-link {
    padding-bottom: 5px;
    color: blue; }
  #order-form .custom-title {
    padding-top: 10px;
    font-size: 24px;
    padding-bottom: 10px;
    color: #AA4465; }
  #order-form .custom-cakes {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px; }
  #order-form .custom-stuff {
    font-size: 21px;
    color: #0A014F;
    margin-bottom: 3px; }
  #order-form .liquid-title {
    color: #AA4465;
    font-size: 18px; }
  #order-form .solid-title {
    margin-top: 5px;
    color: #AA4465;
    font-size: 18px; }
  #order-form .cakes {
    display: flex;
    flex-flow: column; }
  #order-form .fillings {
    display: flex;
    flex-flow: column; }
  #order-form .frostings {
    display: flex;
    flex-flow: column; }
  #order-form .toppings {
    display: flex;
    flex-flow: column; }
  #order-form .checkout {
    margin-top: 30px;
    display: flex;
    justify-content: center; }
    #order-form .checkout .total {
      display: flex;
      flex-direction: row;
      align-content: center;
      margin-right: 5%;
      width: 250px;
      justify-content: space-around;
      align-items: center;
      font-size: 18px; }
      #order-form .checkout .total .damage {
        color: #0A014F; }

.profile {
  height: 100vh;
  padding-top: 20px; }
  .profile .profile-title {
    font-size: 30px;
    color: #B68CB8;
    font-family: "Playfair Display", serif; }
  .profile .auth-info {
    width: 90%;
    padding: 7px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    border-bottom: solid 5px #4f2540; }
    .profile .auth-info p {
      font-size: 27px;
      color: #0A014F; }
  .profile span {
    text-align: center;
    font-size: 24px;
    font-family: "Playfair Display", serif;
    color: #AA4465; }
  .profile .Order-info {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 300px; }
    .profile .Order-info .columns {
      width: 12%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start; }
    .profile .Order-info .tabs {
      height: 23px;
      background-color: #B68CB8;
      color: white;
      border-top: solid;
      border-width: 100%;
      border-bottom: none;
      border-color: #AA4465;
      border-radius: 7px;
      margin-bottom: 5px; }

.shop-titles {
  padding: 20px;
  height: 90vh;
  box-sizing: border-box; }
  .shop-titles .shop-intro {
    color: #B68CB8;
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px; }
  .shop-titles .premade-title {
    font-size: 20px;
    color: #0A014F; }
  .shop-titles .custom-title {
    padding-top: 10px;
    font-size: 20px;
    color: #0A014F; }

.spec-cupcakes {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px; }
  .spec-cupcakes list {
    line-height: 20px; }
    .spec-cupcakes list img {
      height: 150px;
      width: 100px;
      border-radius: 30px; }
    .spec-cupcakes list .deathly-hallows {
      height: 150px;
      width: 125px; }
    .spec-cupcakes list .cake-title {
      font-size: 24px;
      color: #AA4465; }
    .spec-cupcakes list .cake-descript {
      font-size: 18px;
      color: #0A014F; }

.custom-cakes {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: space-around;
  line-height: 20px;
  margin-bottom: 20px; }
  .custom-cakes div > h4 {
    font-size: 24px;
    color: #AA4465;
    margin-bottom: -5px; }
  .custom-cakes .cakes {
    display: flex;
    flex-flow: column; }
  .custom-cakes .fillings {
    display: flex;
    flex-flow: column; }
    .custom-cakes .fillings .liquid {
      font-size: 18px;
      color: grey; }
    .custom-cakes .fillings .solid {
      font-size: 18px;
      color: grey; }
  .custom-cakes .frostings {
    display: flex;
    flex-flow: column; }
  .custom-cakes .toppings {
    display: flex;
    flex-flow: column; }
  .custom-cakes ol > li {
    color: #0A014F; }

.order-button {
  background-color: #f7bcb7;
  border: solid 5px #0A014F;
  border-radius: 7px;
  color: #f6efee;
  width: 250px;
  font-size: 20px;
  margin-top: 10px;
  right: 43%; }

.about-page {
  width: 100vw;
  box-sizing: border-box;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 90px;
  padding-bottom: 20px;
  margin-top: 10%;
  height: 45vh;
  background-color: #B68CB8;
  text-align: left; }
  .about-page .about-Text {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 10px;
    line-height: 20px;
    color: #f6efee; }
  .about-page h1 {
    font-size: 30px;
    margin-bottom: 5px;
    color: #f6efee; }
  .about-page h4 {
    font-size: 24px;
    color: #f6efee; }
  .about-page .disclaimer {
    color: #4F2540;
    text-align: center;
    font-size: 18px;
    padding-right: 20%; }
  .about-page .life-text {
    font-size: 24px;
    margin-bottom: 10px; }
  .about-page .about-body {
    font-size: 20px;
    text-indent: 20px each-line; }
  .about-page .photo-cred {
    font-size: 16px;
    color: #0A014F; }
